{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pt-10">
        {% include 'components/breadcrumbs.html.twig' %}
        <h1 class="{{ h1 }} text-center">Modulistica</h1>
    </div>

    <div class="container py-10">
        <div class="{{ p }} mb-16">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </div>

        <div class="flex flex-wrap max-w-4xl m-auto">
            {% for i in 0..12 %}
                <a href="#" target="_blank" class="w-full md:w-1/2 flex flex-nowrap mb-8 md:pr-4">
                    <div class="border-2 border-color-1 p-2 mr-4">
                        <div class="xt-media-container xt-ratio-100 w-32 lg:w-40">
                            <div class="xt-media-inner">
                                <img class="xt-media object-cover object-center" src="https://cdn.statically.io/img/bussola.s3-eu-west-1.amazonaws.com/w=800,h=300/131674/30320161239335.jpg" loading="lazy" alt>
                            </div>
                        </div>
                    </div>

                    <div class="w-full border-t-4 border-color-1 flex items-center">
                        <div>
                            <h2 class="{{ h5 }}">Lorem Ipsum is simply dummy</h2>
                            <div class="xt-list xt-list-x-2 text-lg md:text-md lg:text-lg items-center uppercase font-bold text-color-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="xt-icon text-lg ml-1" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                                <span>Scarica</span>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}