{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-12">
        {% include 'components/breadcrumbs.html.twig' %}
        <h1 class="xt-h1 text-center text-7xl">Modulistica</h1>
    </div>

    <div class="container py-12">

    </div>
{% endblock %}