{% extends 'base.html.twig' %}

{% block body %}
    <a class="no-underline" href="#">
        <div class="row row-3 mb-8">
            <div class="w-8/12">
                <div class="w-full">
                    <h2>Lorem Ipsum</h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu risus ac ligula mollis finibus bibendum at nisi. Donec non leo non ipsum rhoncus placerat. Cras faucibus neque et elit rhoncus consequat. Morbi urna ipsum, pulvinar eu maximus at, rutrum id arcu. Nunc interdum suscipit ipsum, non porta felis placerat vitae. Morbi efficitur pretium neque ac tempus. Aliquam vel nibh elit. Quisque at arcu eget lectus hendrerit venenatis.
                </div>
            </div>
            <div class="w-4/12">
                <div class="w-full">
                    <img src="https://cdn.statically.io/img/upload.wikimedia.org/w=300,h=500/wikipedia/commons/6/66/Chiesa_del_Sacro_Cuore%2C_Livorno.jpg" alt="">
                </div>
            </div>
        </div>
    </a>
    <div class="row row-4">
        <div class="w-2/12 list list-2 flex-col">
            <button type="button" class="btn btn-md rounded-md text-black links-default bg-gray-200 hover:bg-gray-300 active:bg-gray-400" data-xt-toggle>
                Filtro
            </button>
            <button type="button" class="btn btn-md rounded-md text-black links-default bg-gray-200 hover:bg-gray-300 active:bg-gray-400" data-xt-toggle>
                Filtro
            </button>
            <button type="button" class="btn btn-md rounded-md text-black links-default bg-gray-200 hover:bg-gray-300 active:bg-gray-400" data-xt-toggle>
                Filtro
            </button>
            <button type="button" class="btn btn-md rounded-md text-black links-default bg-gray-200 hover:bg-gray-300 active:bg-gray-400" data-xt-toggle>
                Filtro
            </button>
        </div>
        <div class="w-10/12">
            <table>
                <thead>
                <tr>
                    <th class="text-center">Lunedì</th>
                    <th class="text-center">Martedì</th>
                    <th class="text-center">Mercoledì</th>
                    <th class="text-center">Giovedì</th>
                    <th class="text-center">venerdì</th>
                    <th class="text-center">Sabato</th>
                    <th class="text-center">Domenica</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                            <a href="#" class="row row-1 items-center no-underline">
                                <div class="p-1 rounded bg-red-400"></div>
                                <div class="text-gray-200">12:00</div>
                                <div class="text-gray-500">Messa Gazzata</div>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                            <a href="#" class="row row-1 items-center no-underline">
                                <div class="p-1 rounded bg-red-400"></div>
                                <div class="text-gray-200">12:00</div>
                                <div class="text-gray-500">Messa Gazzata</div>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                            <a href="#" class="row row-1 items-center no-underline">
                                <div class="p-1 rounded bg-red-400"></div>
                                <div class="text-gray-200">12:00</div>
                                <div class="text-gray-500">Messa Gazzata</div>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                            <a href="#" class="row row-1 items-center no-underline">
                                <div class="p-1 rounded bg-red-400"></div>
                                <div class="text-gray-200">12:00</div>
                                <div class="text-gray-500">Messa Gazzata</div>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                            <a href="#" class="row row-1 items-center no-underline">
                                <div class="p-1 rounded bg-red-400"></div>
                                <div class="text-gray-200">12:00</div>
                                <div class="text-gray-500">Messa Gazzata</div>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                            <a href="#" class="row row-1 items-center no-underline">
                                <div class="p-1 rounded bg-red-400"></div>
                                <div class="text-gray-200">12:00</div>
                                <div class="text-gray-500">Messa Gazzata</div>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                        </div>
                    </td>
                    <td>
                        <div class="list list-1 flex-col h-28">
                            <div class="self-center mb-1 text-b">1</div>
                            <a href="#" class="row row-1 items-center no-underline">
                                <div class="p-1 rounded bg-red-400"></div>
                                <div class="text-gray-200">12:00</div>
                                <div class="text-gray-500">Messa Gazzata</div>
                            </a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

