{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-theme-3-light">
        <div class="container-fluid py-8">
            <div class="row row-3 items-center">
                <div class="w-8/12">
                    <div class="w-full">
                        <h2 class="h2 mb-8">Lorem Ipsum</h2>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu risus ac ligula mollis finibus bibendum at nisi. Donec non leo non ipsum rhoncus placerat. Cras faucibus neque et elit rhoncus consequat. Morbi urna ipsum, pulvinar eu maximus at, rutrum id arcu. Nunc interdum suscipit ipsum, non porta felis placerat vitae. Morbi efficitur pretium neque ac tempus. Aliquam vel nibh elit. Quisque at arcu eget lectus hendrerit venenatis.</span>
                    </div>
                </div>
                <a href="#" class="w-4/12">
                    <div class="media-container rounded-md" style="padding-bottom: 71.4%">
                        <div class="media-inner">
                            <img class="media object-cover object-center" src="https://cdn.statically.io/img/upload.wikimedia.org/w=700,h=500/wikipedia/commons/6/66/Chiesa_del_Sacro_Cuore%2C_Livorno.jpg" loading="lazy" alt/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid py-8" id="calendario">
        <h2 class="h2 text-center">Calendario</h2>
        <div class="row row-4 justify-between items-center">
            <div class="w-2/12 list list-2 flex-col items-baseline">
                {% for i in 0..4 %}
                    <div class="w-full">
                        <label class="form-label-check">
                            <input type="checkbox" class="form-check form-switch rounded-full border text-theme-1 border-gray-400 bg-gray-200">
                            <span class="ml-3 uppercase">Gazzata</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="w-10/12">
                <table class="table-fixed">
                    <thead>
                    <tr>
                        <th class="text-center w-1/7">Lunedì</th>
                        <th class="text-center w-1/7">Martedì</th>
                        <th class="text-center w-1/7">Mercoledì</th>
                        <th class="text-center w-1/7">Giovedì</th>
                        <th class="text-center w-1/7">venerdì</th>
                        <th class="text-center w-1/7">Sabato</th>
                        <th class="text-center w-1/7">Domenica</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="list list-1 flex-col h-28">
                                <div class="self-center mb-2 font-bold uppercase">1 OTT</div>
                                <button type="button" class="row flex-nowrap row-0.5 items-center overflow-hidden overflow-ellipsis rounded-sm hover:bg-theme-3-light inline-block whitespace-nowrap w-full" data-xt-overlay="{ targets: '#calendar-event-1' }">
                                    <span class="p-1 rounded bg-theme-1 inline-block"></span>
                                    <span>12:00</span>
                                    <span class="font-bold">Messa Gazzata</span>
                                </button>
                                <button type="button" class="row flex-nowrap row-0.5 items-center overflow-hidden overflow-ellipsis rounded-sm hover:bg-theme-3-light inline-block whitespace-nowrap w-full" data-xt-overlay="{ targets: '#calendar-event-1' }">
                                    <span class="p-1 rounded bg-theme-1 inline-block"></span>
                                    <span>12:00</span>
                                    <span class="font-bold">Messa Gazzata</span>
                                </button>
                                <button type="button" class="row flex-nowrap row-0.5 items-center overflow-hidden overflow-ellipsis rounded-sm hover:bg-theme-3-light inline-block whitespace-nowrap w-full" data-xt-overlay="{ targets: '#calendar-event-1' }">
                                    <span class="p-1 rounded bg-theme-1 inline-block"></span>
                                    <span>12:00</span>
                                    <span class="font-bold">Messa Gazzata</span>
                                </button>
                                <button type="button" class="row flex-nowrap row-0.5 items-center overflow-hidden overflow-ellipsis rounded-sm hover:bg-theme-3-light inline-block whitespace-nowrap w-full" data-xt-overlay="{ targets: '#calendar-event-1' }">
                                    <span class="p-1 rounded bg-theme-1 inline-block"></span>
                                    <span>12:00</span>
                                    <span class="font-bold">Messa Gazzata</span>
                                </button>
                            </div>
                        </td>
                        {% for i in 0..5 %}
                            <td>
                                <div class="list list-1 flex-col h-28">
                                    <div class="self-center mb-2 font-bold uppercase">1 OTT</div>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for i in 0..2 %}
                            <td>
                                <div class="list list-1 flex-col h-28">
                                    <div class="self-center mb-2 font-bold uppercase">1 OTT</div>
                                </div>
                            </td>
                        {% endfor %}
                        <td>
                            <div class="list list-1 flex-col h-28">
                                <div class="self-center mb-2 font-bold uppercase">1 OTT</div>
                                <button type="button" class="row flex-nowrap row-0.5 items-center overflow-hidden overflow-ellipsis rounded-sm hover:bg-theme-3-light inline-block whitespace-nowrap w-full" data-xt-overlay="{ targets: '#calendar-event-1' }">
                                    <span class="p-1 rounded bg-theme-1 inline-block"></span>
                                    <span>12:00</span>
                                    <span class="font-bold">Messa Gazzata</span>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="list list-1 flex-col h-28">
                                <div class="self-center mb-2 font-bold uppercase">1 OTT</div>
                            </div>
                        </td>
                        <td>
                            <div class="list list-1 flex-col h-28">
                                <div class="self-center mb-2 font-bold uppercase">1 OTT</div>
                                <button type="button" class="row flex-nowrap row-0.5 items-center overflow-hidden overflow-ellipsis rounded-sm hover:bg-theme-3-light inline-block whitespace-nowrap w-full" data-xt-overlay="{ targets: '#calendar-event-1' }">
                                    <span class="p-1 rounded bg-theme-1 inline-block"></span>
                                    <span>12:00</span>
                                    <span class="font-bold">Messa Gazzata</span>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="list list-1 flex-col h-28">
                                <div class="self-center mb-2 font-bold uppercase">1 OTT</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        {% for i in 0..6 %}
                            <td>
                                <div class="list list-1 flex-col h-28">
                                    <div class="self-center mb-2 font-bold uppercase">1 OTT</div>
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for i in 0..3 %}
                            <td>
                                <div class="list list-1 flex-col h-28">
                                    <div class="self-center mb-2 font-bold uppercase">1 OTT</div>
                                </div>
                            </td>
                        {% endfor %}
                        <td>
                            <div class="list list-1 flex-col h-28">
                                <div class="self-center mb-2 font-bold uppercase">1 OTT</div>
                                <button type="button" class="row flex-nowrap row-0.5 items-center overflow-hidden overflow-ellipsis rounded-sm hover:bg-theme-3-light inline-block whitespace-nowrap w-full" data-xt-overlay="{ targets: '#calendar-event-1' }">
                                    <span class="p-1 rounded bg-theme-1 inline-block"></span>
                                    <span>12:00</span>
                                    <span class="font-bold">Messa Gazzata</span>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="list list-1 flex-col h-28">
                                <div class="self-center mb-2 font-bold uppercase">1 OTT</div>
                            </div>
                        </td>
                        <td>
                            <div class="list list-1 flex-col h-28">
                                <div class="self-center mb-2 font-bold uppercase">1 OTT</div>
                                <button type="button" class="row flex-nowrap row-0.5 items-center overflow-hidden overflow-ellipsis rounded-sm hover:bg-theme-3-light inline-block whitespace-nowrap w-full" data-xt-overlay="{ targets: '#calendar-event-1' }">
                                    <span class="p-1 rounded bg-theme-1 inline-block"></span>
                                    <span>12:00</span>
                                    <span class="font-bold">Messa Gazzata</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="bg-theme-3-light">
        <div class="container-fluid py-8">
            <h2 class="h2">Notizie</h2>
            <div class="slider" data-xt-slider>

                <div class="slides">
                    <div class="slides-inner row row-2">

                        {% for i in 0..6 %}
                            <div class="slide w-1/4 md:w-1/3 sm:w-1/2 opacity-100 {{ i is same as 2 ? 'in-slider' : '' }}">
                                {% include 'components/card.html.twig' %}
                            </div>
                        {% endfor %}

                    </div>
                </div>

                <nav class="slider-pagination w-full list list-2">
                    <button type="button" class="btn text-black bg-gray-200 hover:bg-gray-300 active:bg-gray-400" data-xt-pag title="Notizia xt-num"></button>
                </nav>

            </div>
        </div>
    </div>

    <div class="overlay" id="calendar-event-1">
        <div class="overlay-container max-w-3xl">
            <div class="overlay-inner">

                <div class="card rounded-md shadow-overlay text-black links-default bg-white">
                    <div class="btn btn-close p-5 text-2xl" aria-label="Close">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </div>
                    <div class="card-md">
                        <div class="h4">Messa Gazzata</div>
                        <p>La messa si svolgerà alle 9:50 nella chiesa di gazzata in via Gazzata 33.<br>
                        Letture: Dt 18, 15-20; Sal. 94; 1 Cor 7, 32-35; Mc 1, 21-28.<br>
                        Suffragio: Mario Rossi</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

