{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-theme-3-light">
        <div class="container py-12">
            <div class="xt-row xt-row-x-3 items-center">
                <div class="w-8/12">
                    <h2 class="xt-h2 text-5xl">Lorem Ipsum</h2>
                    <div class="text-3xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu risus ac ligula mollis finibus bibendum at nisi. Donec non leo non ipsum rhoncus placerat. Cras faucibus neque et elit rhoncus consequat. Morbi urna ipsum, pulvinar eu maximus at, rutrum id arcu. Nunc interdum suscipit ipsum, non porta felis placerat vitae. Morbi efficitur pretium neque ac tempus. Aliquam vel nibh elit. Quisque at arcu eget lectus hendrerit venenatis.</div>
                </div>
                <a href="{{ path('news_index', {slug: 'lorem-ipsum'}) }}" class="w-4/12">
                    <div class="xt-media-container rounded-md xt-ratio-75">
                        <div class="xt-media-inner">
                            <img class="xt-media object-cover object-center" src="https://cdn.statically.io/img/upload.wikimedia.org/w=700,h=500/wikipedia/commons/6/66/Chiesa_del_Sacro_Cuore%2C_Livorno.jpg" loading="lazy" alt/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container py-12 h-96" id="calendario">
        <h2 class="xt-h2 text-center text-5xl">Calendario</h2>

    </div>

    <div class="bg-theme-3-light">
        <div class="container py-12">
            <h2 class="xt-h2 text-5xl">Notizie</h2>
            <div class="xt-slider" data-xt-slider>

                <div class="xt-slides">
                    <div class="xt-slides-inner xt-row xt-row-x-8">

                        {% for i in 0..6 %}
                            <div class="xt-slide w-1/4 md:w-1/3 sm:w-1/2 opacity-100 {{ i is same as 2 ? 'in-slider' : '' }}">
                                {% include 'components/card.html.twig' %}
                            </div>
                        {% endfor %}

                    </div>
                </div>

                <nav class="xt-slider-pagination w-full xt-list xt-list-2">
                    <button type="button" class="xt-button text-black bg-gray-200 hover:bg-gray-300 active:bg-gray-400 xt-ignore" data-xt-pag title="Notizia xt-num"></button>
                </nav>

            </div>
        </div>
    </div>
{% endblock %}

