{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-10">
        {% include 'components/breadcrumbs.html.twig' %}
        <h1 class="xt-h1 text-center text-7xl">Notizie</h1>
    </div>

    <div class="container py-10">
        <div class="xt-list xt-list-y-8">
            {% for i in 0..4 %}

                <div class="bg-gray-100 rounded-3xl">
                    {% include 'components/card.html.twig' with {'flexDirection': (i%2 == 0 ? 'flex-row' : 'flex-row-reverse')} %}
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}