<footer>
    <div class="container">
        <div class="list list-2 flex-col">
            <div class="row row-6">
                <div class="w-4/12">
                    <div class="media-container" style="padding-bottom: 141.43%">
                        <div class="media-inner">
                            <img class="media object-cover object-center" src="{{ asset('build/assets/images/logo.svg') }}" loading="eager" alt="upreginadellafamiglia logo"/>
                        </div>
                    </div>
                </div>
                <div class="w-4/12">
                    <div class="list flex-col">
                        <span>Unità pastorale maria regina della famiglia</span>
                        <span>Parrocchie di</span>
                        <a href="#">gazzata</a>
                        <a href="#">prato</a>
                        <a href="#">stiolo</a>
                        <a href="#">lemizzone</a>
                        <a href="#">trignano</a>
                        <a href="#">san martino in rio</a>
                    </div>
                </div>
                <div class="w-4/12">
                    <div class="list flex-col">
                        <a href="#">contattaci</a>
                        <a href="#">email</a>
                        <a href="#">numero di telefono</a>
                        <a href="#">via roma 4, san martino in rio RE</a>
                    </div>
                </div>
            </div>
            <div class="list list-4 uppercase">
                <span>copyright 2021</span>
                <a href="#">privacy</a>
                <a href="#">cookie</a>
            </div>
        </div>
    </div>
</footer>
