<header class="border-b-4 border-theme-1">
    <div class="container-fluid py-3">
        <div class="list justify-between items-center text-theme-4">
            <a href="/" title="home" class="list list-0.5 items-center leading-4 text-xs">
                <img src="{{ asset('build/assets/images/logo.svg') }}" loading="eager" alt="upreginadellafamiglia logo" class="h-12"/>
                <div>
                    <div class="uppercase">unità pastorale</div>
                    <div class="uppercase font-bold">maria</div>
                    <div class="uppercase font-bold">regina <span class="lowercase font-normal">della</span> famiglia</div>
                </div>
            </a>
            <nav class="list list-2 uppercase">
                <a href="{{ path('news') }}" class="no-underline hover:text-theme-4-light">Notizie</a>
                <a href="{{ path('homepage', {'_fragment': 'calendario'}) }}" class="no-underline hover:text-theme-4-light">Calendario</a>
                <a href="#" class="no-underline hover:text-theme-4-light">Chi siamo</a>
                <a href="#" class="no-underline hover:text-theme-4-light">Contatti</a>
            </nav>
        </div>
    </div>
</header>