<header>
    <div class="container pt-5">
        <div class="list justify-between">
            <a href="/" title="home" class="text-blue-logo leading-4">
                <img src="{{ asset('build/assets/images/logo.svg') }}" loading="eager" alt="upreginadellafamiglia logo"/>
                <div class="uppercase">unità pastorale</div>
                <div class="uppercase font-bold">maria</div>
                <div class="uppercase font-bold">regina <span class="lowercase font-normal">della</span> famiglia</div>
            </a>
            <nav class="list list-1 uppercase">
                <a href="#" class="no-underline">Notizie</a>
                <a href="/#calendario" class="no-underline">Calendario</a>
                <a href="#" class="no-underline">Chi siamo</a>
                <a href="#" class="no-underline">Contatti</a>
            </nav>
        </div>
    </div>
</header>