<header class="border-b-4 border-theme-1">
    <div class="container py-6">
        <div class="xt-list justify-between items-center text-theme-4">
            <a href="/" title="home" class="xt-list xt-list-y-0.5 items-center">
                <img src="{{ asset('build/assets/images/logo.svg') }}" loading="eager" alt="upreginadellafamiglia logo" class="h-24"/>
                <div class="leading-none text-3xl">
                    <span class="uppercase">unità pastorale</span><br/>
                    <span class="uppercase font-bold">maria</span><br/>
                    <span class="uppercase font-bold">regina <span class="lowercase font-normal">della</span> famiglia</span>
                </div>
            </a>
            <nav class="xt-list xt-list-x-8 uppercase text-3xl">
                <a href="{{ path('news') }}" class="no-underline hover:text-theme-4-light">Notizie</a>
                <a href="{{ path('homepage', {'_fragment': 'calendario'}) }}" class="no-underline hover:text-theme-4-light">Calendario</a>
                <a href="#" class="no-underline hover:text-theme-4-light">Chi siamo</a>
                <a href="#" class="no-underline hover:text-theme-4-light">Contatti</a>
            </nav>
        </div>
    </div>
</header>