<header>
    <div class="container py-5">
        <div class="list justify-between items-center text-blue-logo">
            <a href="/" title="home" class="list list-0.5 items-center leading-4">
                <img src="{{ asset('build/assets/images/logo.svg') }}" loading="eager" alt="upreginadellafamiglia logo" class="h-16"/>
                <div>
                    <div class="uppercase">unità pastorale</div>
                    <div class="uppercase font-bold">maria</div>
                    <div class="uppercase font-bold">regina <span class="lowercase font-normal">della</span> famiglia</div>
                </div>
            </a>
            <nav class="list list-2 uppercase">
                <a href="#" class="no-underline hover:text-accent-300">Notizie</a>
                <a href="/#calendario" class="no-underline hover:text-accent-300">Calendario</a>
                <a href="#" class="no-underline hover:text-accent-300">Chi siamo</a>
                <a href="#" class="no-underline hover:text-accent-300">Contatti</a>
            </nav>
        </div>
    </div>
</header>