<header>
    <div class="container pt-5">
        <div class="list justify-between">
            <a href="/" title="home">
                <img src="{{ asset('build/assets/images/logo.svg') }}" loading="eager" alt="upreginadellafamiglia logo"/>
            </a>
            <nav class="list list-1 uppercase">
                <a href="#" class="no-underline">Notizie</a>
                <a href="/#calendario" class="no-underline">Calendario</a>
                <a href="#" class="no-underline">Chi siamo</a>
                <a href="#" class="no-underline">Contatti</a>
            </nav>
        </div>
    </div>
</header>