<a href="{{ path('news_index', {slug: 'lorem-ipsum'}) }}" class="xt-card rounded-md text-black links-default bg-white">
    <div class="xt-media-container rounded-t-md xt-ratio-75">
        <div class="xt-media-inner">
            <img class="xt-media object-cover object-center" src="https://cdn.statically.io/img/upload.wikimedia.org/w=800,h=300/wikipedia/commons/6/66/Chiesa_del_Sacro_Cuore%2C_Livorno.jpg" loading="lazy" alt>
        </div>
    </div>
    <div class="text-base py-8 px-9">
        <div class="xt-h5 text-3xl">Lorem ipsum dolor sit amet consectetur adipiscing</div>
    </div>
</a>