<div class="card rounded-md text-black links-default bg-white">
    <div class="media-container rounded-t-md ratio-50">
        <div class="media-inner">
            <img class="media object-cover object-center" src="https://cdn.statically.io/img/upload.wikimedia.org/w=800,h=300/wikipedia/commons/6/66/Chiesa_del_Sacro_Cuore%2C_Livorno.jpg" loading="lazy" alt>
        </div>
    </div>
    <div class="card-md">
        <div class="h5">Lorem ipsum dolor sit amet consectetur adipiscing</div>
    </div>
</div>