{% extends 'base.html.twig' %}

{% block title %}{{ title('app.not_found.title'|trans) }}{% endblock %}

{% block body %}
    <div class="container py-52 max-w-4xl">
        <div class="xt-h1 text-7xl md:text-9xl text-center text-color-1 uppercase">{{ 'app.not_found.ops'|trans }}</div>
        <div class="text-3xl md:text-5xl text-center">
            {{ 'app.not_found.text'|trans }}
        </div>
    </div>
{% endblock %}
